{% extends 'base.html.twig' %}

{% block title %}Ma commandes - Blog{% endblock %}

{% block content %}
    <h1 class="display-1 mt-5 mb-5">Ma commande {{ order.reference }}</h1>
    <a href="{{ path('account_order') }}">Retour</a>
    <hr><strong></strong>
    <br/>
    <strong>Commande passée le :</strong> {{ order.createdAt|date('d/m/Y') }}<br/>
    <strong>Référence de ma commande :</strong> <small>{{ order.reference }}</small><br/>
    <hr>
    <strong>Détails:</strong>

    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Prix unitaire</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for post in order.orderDetails %}
        <tr>
            <td>{{ post.name}}</td>
            <td>{{ post.price |number_format(2, ',', '.') }} €</td>
            <td>{{ post.total |number_format(2, ',', '.') }} €</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="text-right">
        <strong>Sous-total :</strong> {{ order.getTotal |number_format(2, ',', '.') }} €<br/>
    </div>
{% endblock %}