{% extends 'base.html.twig' %}

{% block title %}Listes des articles premium{% endblock %}
{% block content %}
    <h1 class="display-1 mt-5 mb-5">Liste des articles
    </h1><h1  style="color: goldenrod">Premium</h1>
    <div class="d-flex justify-content-center">{{ knp_pagination_render(pagination,'posts/pagination.html.twig') }}</div>

    {% for post in pagination %}
        <div class=" px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <div><h2 class="title"> Titre:</h2></div>
                        <p> {{ post.title }}</p>
                        <p class="post-meta">
                            Publié par
                            <span>{{ post.author.firstname }} {{ post.author.lastname }}</span>
                            {# at {{ post.createAt ? post.createAt|date('Y-m-d H:i:s') : '' }} #}
                        </p>
                        <a class="" href="{{ path('post_premium', {'id': post.id}) }}">
                            <button class="btn  btn-success  mt-3">Plus de
                                détails...
                            </button>
                        </a>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4"/>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
